.my-active-nav-link {
  font-size: 50px;
}

.ad-image {
  height: 25vh;
}

.my-active-link {
  border-bottom: 2px solid red;
  padding-left: 50px;
  transition: padding-left 0.3s;
}


.card-img-top {
  height: 50vh;
  object-fit: cover;
}

.cart-img-top{
  width:80%;
}